{% load static %}
{% load custom_filters %}


{% block content %}
    <section id="home-page" class="photo-banner">
        {% for main_banner in banner %}
            <div class="photo-banner-content">
                <h2>{{ main_banner.name }}</h2><br>
                <p>{{ main_banner.description|safe }}</p>
                <p>
                    {% if main_banner.phone1 %}
                        <a href="tel:{{ main_banner.phone1|cut:" " }}">{{ main_banner.phone1 }}</a><br>
                    {% endif %}
                    {% if main_banner.phone2 %}
                        <a href="tel:{{ main_banner.phone2|cut:" " }}">{{ main_banner.phone2 }}</a>
                    {% endif %}
                </p>
{#                <a href="{% url 'about' %}" class="btn">Подробнее</a>#}
            <button id="open-order-form" class="btn">Заказать шнек</button>
            </div>
        {% endfor %}
    </section>

    <section id="gallery" class="mb-0">
        <div class="row g-3 justify-content-center">
            <h4 style="filter: drop-shadow(2px 1px 0px rgba(255, 255, 255, 0.98));">✔️ Что мы делаем для вас</h4>
            {% for item in photose %}
                <div class="col-6 col-md-2 text-center">
                    <div class="photo-item-banners">
                        {% if item.link %}
                            <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer"
                               class="d-block text-decoration-none">
                                <img src="{{ item.photo_url }}" alt="{{ item.description }}" class="img-fluid rounded">
                                {% if item.description %}
                                    <div class="photo-description-banners">{{ item.description }}</div>
                                {% endif %}
                            </a>
                        {% else %}
                            <img src="{{ item.photo_url }}" alt="{{ item.description }}" class="img-fluid rounded">
                            {% if item.description %}
                                <div class="photo-description-banners">{{ item.description }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>



{#    <section id="gallery" class="mb-0">#}
{#        {% for row in photose|batch:4 %}#}
{#            <div class="photo-row" style="display: flex; gap: 10px; margin-bottom: 20px;">#}
{#                {% for item in row %}#}
{#                    <div class="photo-item" style="flex: 1;">#}
{#                        <img src="{{ item.photo.url }}" alt="{{ item.description }}">#}
{#                        {% if item.description %}#}
{#                            <div class="photo-description">{{ item.description }}</div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </section>#}

{% endblock %}
