{% load static %}
{% load custom_filters %}


{% block content %}
    <section id="home-page" class="photo-banner">
        {% for main_banner in banner %}
            <div class="photo-banner-content">
                <h2>{{ main_banner.name }}</h2><br>
                <p>{{ main_banner.description|safe }}</p>
                <p>
                    {% if main_banner.phone1 %}
                        <a href="tel:{{ main_banner.phone1|cut:" " }}">{{ main_banner.phone1 }}</a><br>
                    {% endif %}
                    {% if main_banner.phone2 %}
                        <a href="tel:{{ main_banner.phone2|cut:" " }}">{{ main_banner.phone2 }}</a>
                    {% endif %}
                </p>
                <a href="{% url 'services' %}" class="btn">Подробнее</a>
            </div>
        {% endfor %}
    </section>

    <section id="gallery" class="mb-0">
        <div class="row g-3 justify-content-center"> <!-- g-3 — отступы между колонками и строками -->
        <h3>✔️ Предоставляем услуги:</h3>
            {% for item in photose %}
                <div class="col-6 col-md-2 text-center"> <!-- 2 колонки на xs и sm, 4 колонки на md и выше -->
                    <div class="photo-item-banners">
                        <img src="{{ item.photo.url }}" alt="{{ item.description }}" class="img-fluid rounded">
                        {% if item.description %}
                            <div class="photo-description-banners">{{ item.description }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{#    <section id="gallery" class="mb-0">#}
{#        {% for row in photose|batch:4 %}#}
{#            <div class="photo-row" style="display: flex; gap: 10px; margin-bottom: 20px;">#}
{#                {% for item in row %}#}
{#                    <div class="photo-item" style="flex: 1;">#}
{#                        <img src="{{ item.photo.url }}" alt="{{ item.description }}">#}
{#                        {% if item.description %}#}
{#                            <div class="photo-description">{{ item.description }}</div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </section>#}

{% endblock %}
