{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page">3D Моделирование</li>
        </ol>
    </nav>
    <section class="item-section"
             style="background: url('{% static "webapp/img/aironmaster_3d.jpg" %}') no-repeat center center fixed;
                     background-size: cover;
                     min-height: 150px!important;
                     position: relative;">
        <div class="three-d-text-banner banner-content">
            <h2>☆ Надёжность и качество в каждой детали</h2>
            <p>✓ Мы предлагаем современные технологии 3d проектирования с индивидуальным подходом к каждому клиенту.</p>
        </div>
        <div style="
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: linear-gradient(144deg, rgb(102 9 225 / 14%), rgba(255, 255, 255, 0.1), rgb(102 9 225 / 14%));
        pointer-events: none;
        color: #00b7ff;
        z-index: 1;">
        </div>
    </section>

    <div id="about" class="gradient"></div>

    <section class="item-section-bg">
        <div class="container">
            <div class="three-d-description service-description">
                {% for item in three_d_constructions %}
                    <article class="three-d-item">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.descriptions|safe }}</p>
                    </article>
                {% empty %}
                    <p>Описание 3D моделирования пока отсутствует.</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <div id="about" class="first-gradient"></div>

    <!-- Другие услуги компании -->
    <section class="custom-service-bg">
        <div class="services-inline-bg service-inline-container">
            <h2 class="section-title-services">֎ Услуги компании</h2>
            <div class="services-inline-row">
                {% for service in metalworking_services %}
                    <div class="service-mini-card">
                        <a href="{{ service.get_absolute_url }}">
                            <img src="{{ service.image.url }}" alt="{{ service.alt_text|default:service.title }}"
                                 class="service-mini-img"/>
                        </a>
                        <div class="service-mini-caption">{{ service.title }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
