{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page"> О нас</li>
        </ol>
    </nav>

    <section class="about-company">
        <div class="about-image">
            {% if about and about.photo %}
                <img src="{{ about.photo.url }}" alt="{{ about.name }}">
            {% else %}
                <img src="{% static 'webapp/img/airon_about.png' %}" alt="Фото компании">
            {% endif %}
        </div>
        <div class="about-description">
            <h2 class="company-name">{{ about.name|default:"АЙРОНМАСТЕР" }}</h2>
            <p class="company-text">
                {{ about.description|default:"Компания «Айронмастер» — современное производственное предприятие, специализирующееся на работе со всеми видами конструкционных сталей, включая высокопрочные марки HARDOX и QUARD, а также с полимерами, цветными металлами и их сплавами. Мы предлагаем полный цикл услуг: от проектирования и разработки индивидуальных решений до изготовления и внедрения готовых изделий любой сложности." }}
            </p>
        </div>
    </section>
    <div class="gradient"></div>
    <!-- Преимущества -->
    <section class="advantages-section custom-metal-bg">
        <h2 class="news-carousel__title">Наши Преимущества</h2>
        <ul class="advantages-list horizontal-list">
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/delivery-truck-box-delivery-svgrepo-com.svg' %}" alt="Доставка"
                     class="advantage-icon" width="40"
                     height="40"/>
                <span>Доставка по всей Беларуси и в страны-соседи.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/medal-svgrepo-com.svg' %}" alt="Сертификат ГОСТ"
                     class="advantage-icon"
                     width="40" height="40"/>
                <span>Соответствие ГОСТ и сертификаты качества на продукцию.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/worker-architecture-svgrepo-com.svg' %}" alt="Опытные сотрудники"
                     class="advantage-icon" width="40" height="40"/>
                <span>Опытные сотрудники и профессиональный подход.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/key-5-svgrepo-com.svg' %}" alt="Под ключ" class="advantage-icon"
                     width="40"
                     height="40"/>
                <span>Выполнение заказа «под ключ» — от проекта до поставки.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/shield-antivirus-svgrepo-com.svg' %}" alt="Гарантия"
                     class="advantage-icon" width="40"
                     height="40"/>
                <span>Гарантия 12 месяцев с последующим обслуживанием.</span>
            </li>
        </ul>
    </section>
    <div class="gradient"></div>


{% endblock %}