{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page"> О нас</li>
        </ol>
    </nav>

    <section class="about-company">
        <div class="about-image">
            {% if about and about.photo %}
                <img src="{{ about.photo.url }}" alt="{{ about.name }}">
            {% else %}
                <img src="{% static 'webapp/img/airon_about.png' %}" alt="Фото компании">
            {% endif %}
        </div>
        <div class="about-description">
            <h2 class="company-name">{{ about.name|default:"АЙРОНМАСТЕР" }}</h2>
            <p class="company-text">
                {{ about.description|default:"Компания «Айронмастер» — современное производственное предприятие, специализирующееся на работе со всеми видами конструкционных сталей, включая высокопрочные марки HARDOX и QUARD, а также с полимерами, цветными металлами и их сплавами. Мы предлагаем полный цикл услуг: от проектирования и разработки индивидуальных решений до изготовления и внедрения готовых изделий любой сложности." }}
            </p>
        </div>
    </section>
    <div class="gradient"></div>
    <!-- Преимущества -->
    <section class="advantages-section custom-metal-bg">
        <h2 class="news-carousel__title">Наши Преимущества</h2>
        <ul class="advantages-list horizontal-list">
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/delivery-truck-box-delivery-svgrepo-com.svg' %}" alt="Доставка"
                     class="advantage-icon" width="40"
                     height="40"/>
                <span>Доставка по всей Беларуси и в страны-соседи.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/medal-svgrepo-com.svg' %}" alt="Сертификат ГОСТ"
                     class="advantage-icon"
                     width="40" height="40"/>
                <span>Соответствие ГОСТ и сертификаты качества на продукцию.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/worker-architecture-svgrepo-com.svg' %}" alt="Опытные сотрудники"
                     class="advantage-icon" width="40" height="40"/>
                <span>Опытные сотрудники и профессиональный подход.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/key-5-svgrepo-com.svg' %}" alt="Под ключ" class="advantage-icon"
                     width="40"
                     height="40"/>
                <span>Выполнение заказа «под ключ» — от проекта до поставки.</span>
            </li>
            <li class="advantage-item">
                <img src="{% static 'webapp/icons/shield-antivirus-svgrepo-com.svg' %}" alt="Гарантия"
                     class="advantage-icon" width="40"
                     height="40"/>
                <span>Гарантия 12 месяцев с последующим обслуживанием.</span>
            </li>
        </ul>
    </section>
    <div class="gradient"></div>

    <section class="advertisement-bg">
        <div class="laser-cutting-ad">
            <div class="header-with-icon" style="display: flex; align-items: center; gap: 15px;">
                <img src="{% static 'webapp/icons/laser-warning-svgrepo-com.svg' %}" alt="Лазерная резка по металлу"
                     class="size-icon"/>
                <h1 style="margin: 0;">{{ advertisement.title }}</h1>
            </div>

            <div class="gradient-advertisement"></div>

            <p>{{ advertisement.description }}</p>

            <div class="ad-features">
                <ul>
                    {% for advantage in advertisement.advantages|linebreaksbr|safe|splitlines %}
                        <li>{{ advantage|safe }}</li>
                    {% empty %}
                        <li>✔️ Высокая точность и чистота реза по металлу</li>
                        <li>✔️ Работа с различными видами металлов</li>
                        <li>✔️ Изготовление металлической наружной рекламы, вывесок, табличек</li>
                        <li>✔️ Индивидуальный подход к каждому заказу</li>
                        <li>✔️ Гибкие цены в зависимости от сложности и объема</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Видео -->
            <section class="videos-section">
                <h2 class="section-title">Видео по сервису</h2>
                <div class="videos-wrapper">
                    {% if advertisement.videos.all %}
                        {% for video in advertisement.videos.all %}
                            <video width="320" height="240" controls>
                                <source src="{{ video.video.url }}" type="video/mp4">
                                Ваш браузер не поддерживает видео.
                            </video>
                            {% if video.title %}
                                <p>{{ video.title }}</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Видео отсутствуют.</p>
                    {% endif %}
                </div>
            </section>

            <div class="margin-button-top">
                <h2 class="section-title">Наши работы</h2>
            </div>

            <div class="header-with-icon" style="display: flex; align-items: center; gap: 15px;">
                <img src="{% static 'webapp/icons/sale-discount-svgrepo-com.svg' %}" alt="Лазерная резка по металлу"
                     class="size-icon"/>
                <p style="margin: 0;">Оформи заявку с сайта и получи скиду!</p>
            </div>

            <div class="ad-examples">
                {% for work in works %}
                    <article class="ad-item">
                        {% if work.photo %}
                            <img src="{{ work.photo.url }}" alt="{{ work.title }}" class="ad-image">
                        {% endif %}
                        <h2>{{ work.title }}</h2>
                        <p>{{ work.description|safe }}</p>
                        <ul class="ad-features-list">
                            <li>{{ work.characteristics|safe }}</li>
                        </ul>
                        <a href="#contacts-with-item" class="margin-button-top btn-all-product">Оставить заявку</a>
                    </article>
                {% endfor %}
            </div>

            {% if ads %}
                <div class="dynamic-ads">
                    {% for ad in ads %}
                        <article class="ad-item">
                            <img src="{{ ad.image.url }}" alt="{{ ad.title }}" class="ad-image">
                            <h2>{{ ad.title }}</h2>
                            <p>{{ ad.description }}</p>
                            <a href="{% url 'contacts' %}" class="btn btn-primary">Подробнее</a>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <div class="gradient-product-detail"></div>


{% endblock %}