{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div id="breadcrumps">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li>Ваше письмо отправлено!</li>
            </ol>
        </nav>
    </div>
    <div class="container" style="padding: 2rem 0; text-align: center;">
        <h2>Спасибо!</h2>
        <p>Ваше сообщение успешно отправлено. Мы свяжемся с вами в ближайшее время.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
{% endblock %}