<html>
    <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
        <div style="max-width: 650px; margin: auto; background: beige; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #333;">🗣 Обратная связь с сайта<br><br>Новая заявка</h2>
            <br>
            <p><strong>Имя:</strong> {{ name }}</p>
            <p><strong>Телефон:</strong> {{ phone }}</p>
            <p><strong>Почта:</strong> {{ email }}</p><br>
            <p><strong>Сообщение:</strong></p>
            <p>{{ message|linebreaks }}</p>
            <p>────⋆⋅☆⋅⋆──</p>


            <p><br>Спасибо за обращение!</p>
            <i>Это письмо отправлено с сайта <a href="http://aironmaster.by">http://aironmaster.by</a> ®</i>
        </div>
    </body>
</html>
