{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page"> Новости</li>
        </ol>
    </nav>
    <section class="item-section-bg">
        <main class="container">
            <h1 class="news-page__title">Новости IronMaster</h1>

            <section class="news-list">
                <!-- Пример новости -->
                {% for news in news_list %}
                    <article class="news-item">
                        <a href="{% url 'news_detail' slug=news.slug %}" class="news-item__link">
                            <img src="{{ news.photo.url }}" alt="{{ news.name }}" class="news-item__image"/>
                        </a>

                        <div class="news-item__content">
                            <a href="{% url 'news_detail' slug=news.slug %}" class="news-item__headline-link">
                                <h2 class="news-item__headline">{{ news.name }}</h2>
                            </a>

                            <time datetime="{{ news.date|date:'Y-m-d' }}" class="news-item__date">
                                {{ news.date|date:"j F Y" }} &ensp;&ensp;&ensp;📰
                            </time>

                            <p class="news-item__excerpt">{{ news.description }}</p>

                            <a href="{% url 'news_detail' slug=news.slug %}" class="news-item__more-link">Узнать
                                больше..</a>
                        </div>
                    </article>
                {% endfor %}

            </section>
        </main>
    </section>
{% endblock %}
