{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page">Продукция</li>
        </ol>
    </nav>
    <div id="category-burg">
        <div class="category-burger" id="categoryBurger" aria-label="Меню категорий" role="button" tabindex="0"
             aria-expanded="false" aria-controls="categoryMenu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <!-- Пример меню категорий -->
        <nav id="categoryMenu" class="category-menu" hidden>
            <ul>
                <li><a href="{% url 'products' %}" {% if not selected_category %}class="active"{% endif %}>Все</a></li>
                {% for slug, name in categories.items %}
                    <li>
                        <a href="{% url 'products' %}?category={{ slug }}"
                           {% if selected_category == slug %}class="active"{% endif %}>
                            {{ name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>


    <div class="gradient"></div>
    <section id="screw-spiral" class="item-section">
    <h2>Продукция Aironmaster</h2>
            <hr class="news-separator" aria-hidden="true"/>
        {% if items %}
            <div class="container">
                {% for item_row in items|batch:4 %}
                    <div class="row mb-0">
                        {% for item in item_row %}
                            <div class="col-md-3">
                                <section id="item-{{ item.id }}" class="item-section">
                                    <div class="content-wrapper">
                                        <h3 class="fixed-lines">{{ item.name|safe }}</h3>
                                        <p>{{ item.mission }}</p>
                                        <p>
                                            {% if item.phone1 %}
                                                <a href="tel:{{ item.phone1|cut:" " }}">{{ item.phone1 }}</a><br>
                                            {% endif %}
                                            {% if item.phone2 %}
                                                <a href="tel:{{ item.phone2|cut:" " }}">{{ item.phone2 }}</a>
                                            {% endif %}
                                        </p>
                                        <div class="social-icons-wrapper-two">
                                            {% for social in footer_info.social_networks.all %}
                                                {% if social.url %}
                                                    <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer"
                                                       aria-label="{{ social.name }}" class="social-icon">
                                                        {% if social.icon %}
                                                            <img src="{{ social.icon.url }}" alt="{{ social.name }}"/>
                                                        {% else %}
                                                            {{ social.name }}
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="gallery-{{ item.id }}" class="photo-gallery mb-0">
                                            <div class="row g-3">
                                                {% for photo in item.photos.all|slice:"0:2" %}
                                                    <div class="col-6">
                                                        <div class="photo-item-product product">
                                                            {% if forloop.last %}
                                                                <!-- Вместо второго фото показываем кнопку -->
                                                                <div style="display: flex; justify-content: center; margin-top: 45px; height: 45px; position: relative;">
                                                                    <a href="{% url 'item_detail' item.slug %}"
                                                                       class="btn">Подробнее</a>

                                                                </div>
                                                            {% else %}
                                                                <div>
                                                                    <img
                                                                            src="{{ photo.photo.url }}"
                                                                            alt="{{ photo.description }}"
                                                                            class="img-fluid rounded gallery-image"
                                                                            data-src="{{ photo.photo.url }}">
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Изделия в данной категории отсутствуют.</p>
        {% endif %}
    </section>

    <!-- Другие услуги компании -->
    <section class="custom-service-bg">
        <div class="services-inline-bg service-inline-container">
            <h2 class="section-title-services">֎ Наши услуги</h2>
            <div class="services-inline-row">
                {% for service in metalworking_services %}
                    <div class="service-mini-card">
                        <a href="{{ service.get_absolute_url }}">
                            <img src="{{ service.image.url }}" alt="{{ service.alt_text|default:service.title }}"
                                 class="service-mini-img"/>
                        </a>
                        <div class="service-mini-caption">{{ service.title }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Кастомное модальное окно -->
    <div id="customModal" class="custom-modal hidden">
        <div class="custom-modal-overlay"></div>
        <div class="custom-modal-content">
            <button class="custom-close" aria-label="Закрыть">&times;</button>
            <button class="custom-prev" aria-label="Предыдущее изображение">&#10094;</button>
            <div class="custom-image-wrapper">
                <img id="customModalImage" src="" alt=""/>
                <div id="customModalDescription" class="custom-description"></div>
            </div>
            <button class="custom-next" aria-label="Следующее изображение">&#10095;</button>
        </div>
    </div>


{% endblock %}