{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
        <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
            <ol>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li aria-current="page">{{ service.name }}</li>
            </ol>
        </nav>
    <div class="service-detail-container">
        <h1 class="service-title">{{ service.name }}</h1>
        <div class="service-photos-row">
            {% for photo in photos|slice:":3" %}
                <div class="service-photo-wrapper">
                    <img src="{{ photo.image.url }}" alt="{{ service.name }} фото {{ forloop.counter }}"
                         class="service-photo">
                </div>
            {% empty %}
                <div class="service-photo-wrapper">
                    <img src="{% static 'webapp/img/no_images.png' %}" alt="Нет фото" class="service-photo">
                </div>
            {% endfor %}
        </div>
        <div class="service-description">
            {{ service.description|safe }}
        </div>
        <div class="service-phones">
            <p class="section-title section-title-color">Наши телефоны:</p>
            <div class="phones-list">
                <p>
                    {% if footer_info.phone_one %}
                        <img src="{% static 'webapp/icons/phone-volume-solid.svg' %}" alt="Телефон" width="16"
                             height="16" class="phone-icon"/>
                        <a href="tel:{{ footer_info.phone_one }}">{{ footer_info.phone_one }}</a>
                    {% else %}
                        Телефон 1 не указан<br/>
                    {% endif %}
                    {% if footer_info.phone_two %}
                        <img src="{% static 'webapp/icons/phone-volume-solid.svg' %}" alt="Телефон" width="16"
                             height="16" class="phone-icon"/>
                        <a href="tel:{{ footer_info.phone_two }}">{{ footer_info.phone_two }}</a>
                    {% else %}
                        Телефон 2 не указан
                    {% endif %}
                </p>
            </div>

            <p class="section-title section-title-color">Почта:</p>
            <div class="email-row">
                <img src="{% static 'webapp/icons/envelope-solid.svg' %}" alt="Почта" width="16" height="16"
                     class="email-icon"/>
                <a href="mailto:{{ had_contact.email|default:'' }}" class="text-decoration-none text-white">
                    {{ had_contact.email }}
                </a>
            </div>
            <div class="icons-row">
                <div class="section-title section-title-color">Соцсети:
                    {% for social in footer_info.social_networks.all %}
                        {% if social.url %}
                            <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer"
                               aria-label="{{ social.name }}">
                                {% if social.icon %}
                                    <img src="{{ social.icon.url }}" alt="{{ social.name }}"/>
                                {% else %}
                                    <!-- Если иконка не загружена, можно показать название или иконку по умолчанию -->
                                    {{ social.name }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}