{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}


{% block content %}
    <nav aria-label="breadcrumb" class="breadcrumb breadcrumps">
        <ol>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li aria-current="page">{{ service.name }}</li>
        </ol>
    </nav>
    <section class="custom-service-bg">
        <div class="service-detail-container">
            <h1 class="service-title">{{ service.name }}</h1>

            <!-- Слайдер изображений -->
            <section class="slider-section">
                <h2 class="section-title">Фотографии наших работ</h2>
                <div class="slider slider-photos" id="photoSlider">
                    <div class="slider-inner-wrapper">
                        {% for photo in photos %}
                            <div class="slide">
                                <img src="{{ photo.image.url }}" alt="{{ service.name }} фото {{ forloop.counter }}"/>
                            </div>
                        {% empty %}
                            <div class="slide">
                                <img src="{% static 'webapp/img/no_images.png' %}" alt="Нет фото"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>


            <!-- Слайдер видео -->
            {% if videos.exists %}
                <section class="slider-section">
                    <h2 class="section-title">Видео о процессе гибки</h2>
                    <div class="slider slider-videos" id="videoSlider">
                        {% for video in videos %}
                            <div class="slide">
                                <video controls preload="metadata" width="100%" height="auto">
                                    <source src="{{ video.url }}" type="video/mp4"/>
                                    Ваш браузер не поддерживает видео.
                                </video>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            <!-- Описание услуги -->
            <section class="service-description">
                <h2 class="section-title">Описание услуги</h2>
                {{ service.description|safe }}
            </section>

            <!-- Технология -->
            <section class="technology-section">
                <h2 class="section-title">Технология</h2>
                {{ service.technology|safe }}
            </section>

            <!-- Таблица стоимости -->
            <section class="price-section">
                <h2 class="section-title">Стоимость услуги</h2>
                <table class="price-table">
                    <thead>
                    <tr>
                        <th>Толщина металла, мм</th>
                        <th>Стоимость BYN (без НДС)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in service.prices.all %}
                        <tr>
                            <td>{{ price.thickness }}</td>
                            <td>{{ price.cost }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">Информация о стоимости отсутствует.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>

            <!-- Преимущества -->
            <section class="advantages-section">
                <h2 class="section-title">Наши преимущества</h2>
                <ul class="advantages-list horizontal-list">
                    {% for adv in service.advantages.all %}
                        <li class="advantage-item">
                            <img src="{{ adv.icon.url }}" alt="{{ adv.text }}" class="advantage-icon" width="40"
                                 height="40"/>
                            <span>{{ adv.text }}</span>
                        </li>
                    {% empty %}
                        <li>Преимущества пока не добавлены.</li>
                    {% endfor %}
                </ul>
            </section>

            <!-- Контакты -->

        </div>
    </section>
    <!-- Другие услуги компании -->
    <section class="custom-service-bg">
        <div class="services-inline-bg service-inline-container">
            <h2 class="section-title-services">Другие услуги компании</h2>
            <div class="services-inline-row">
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='laser-cutting' %}">
                        <img src="{% static 'webapp/img/aironmaster_lazer.png' %}" alt="Лазерная резка"
                             class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Лазерная резка</div>
                </div>
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='bending' %}">
                        <img src="{% static 'webapp/img/aironmaster_gibka.png' %}" alt="Гибка"
                             class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Гибка металла</div>
                </div>
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='vibratory-trowel' %}">
                        <img src="{% static 'webapp/img/aironmaster_vibrogoltovka_IFfETZG.jpeg' %}"
                             alt="Виброголтовка" class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Виброголтовка</div>
                </div>
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='welding' %}">
                        <img src="{% static 'webapp/img/aironmaster_svarka.png' %}" alt="Сварочные работы"
                             class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Сварка</div>
                </div>
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='metal-constructions' %}">
                        <img src="{% static 'webapp/img/aironmaster_truby.png' %}" alt="Металлоконструкции"
                             class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Металлоконструкции</div>
                </div>
                <div class="service-mini-card">
                    <a href="{% url 'service_detail' slug='polymer-painting' %}">
                        <img src="{% static 'webapp/img/aironmaster_pokraska.png' %}" alt="Полимерная покраска"
                             class="service-mini-img"/>
                    </a>
                    <div class="service-mini-caption">Покраска</div>
                </div>
            </div>
        </div>
    </section>

<!-- Модальное окно для увеличенного фото с кнопками навигации -->
<div id="imageModal">
  <button id="modalPrev" class="modal-nav" aria-label="Предыдущее фото">&#9664;</button>

  <img id="modalImage" src="" alt="" class="modal-image" />

  <button id="modalNext" class="modal-nav" aria-label="Следующее фото">&#9654;</button>
</div>


{% endblock %}
