{% extends 'main/base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div id="breadcrumps">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'products' %}">Готовая Продукция</a></li>
                <li aria-current="page">{{ category_name }}</li>
            </ol>
        </nav>
    </div>
    <section id="screw-spiral" class="item-section"
             style="background: url('{{ banner.image.url }}') no-repeat center center; background-size: cover; position: relative;">
        <div style="
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(128, 130, 143, 0.82);
        pointer-events: none;
        color: #00b7ff;
        z-index: 1;
    "></div>

        <h2 style="position: relative; z-index: 2;">{{ banner.name }}</h2>
        <p style="position: relative; z-index: 2;">{{ banner.description }}</p><br/>
    </section>


    <div class="gradient"></div>
    <section id="screw-spiral" class="item-section">
        {% if items %}
            <div class="container">
                {% for item_row in items|batch:3 %}
                    <div class="row mb-0">
                        {% for item in item_row %}
                            <div class="col-md-4">
                                <section id="item-{{ item.id }}" class="item-section">
                                    <div class="content-wrapper">
                                        <h3 class="fixed-lines">{{ item.name|safe }}</h3>
                                        <p>{{ item.description }}</p>
                                        <p>
                                            {% if item.phone1 %}
                                                <a href="tel:{{ item.phone1|cut:" " }}">{{ item.phone1 }}</a><br>
                                            {% endif %}
                                            {% if item.phone2 %}
                                                <a href="tel:{{ item.phone2|cut:" " }}">{{ item.phone2 }}</a>
                                            {% endif %}
                                        </p>
                                        <div class="social-icons-wrapper-two">
                                            {% for social in footer_info.social_networks.all %}
                                                {% if social.url %}
                                                    <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer"
                                                       aria-label="{{ social.name }}" class="social-icon">
                                                        {% if social.icon %}
                                                            <img src="{{ social.icon.url }}" alt="{{ social.name }}"/>
                                                        {% else %}
                                                            {{ social.name }}
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div id="gallery-{{ item.id }}" class="photo-gallery mb-0">
                                            <div class="row g-3">
                                                {% for photo in item.photos.all|slice:"0:2" %}
                                                    <div class="col-6">
                                                        <div class="photo-item-product product">
                                                            {% if forloop.last %}
                                                                <!-- Вместо второго фото показываем кнопку -->
                                                                <div style="display: flex; justify-content: center; margin-top: 70px; position: relative;">
                                                                   <a href="{% url 'about' %}" class="btn">Подробнее</a>

                                                                </div>
                                                            {% else %}
                                                                <div style="display: flex; justify-content: center; margin-top: 20px; position: relative;">
                                                                    <img
                                                                            src="{{ photo.photo.url }}"
                                                                            alt="{{ photo.description }}"
                                                                            class="img-fluid rounded gallery-image"
                                                                            style="object-fit: cover; width: 180px; height: 100px;"
                                                                            data-src="{{ photo.photo.url }}">
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Изделия в данной категории отсутствуют.</p>
        {% endif %}
    </section>


    <!-- Кастомное модальное окно -->
    <div id="customModal" class="custom-modal hidden">
        <div class="custom-modal-overlay"></div>
        <div class="custom-modal-content">
            <button class="custom-close" aria-label="Закрыть">&times;</button>
            <button class="custom-prev" aria-label="Предыдущее изображение">&#10094;</button>
            <div class="custom-image-wrapper">
                <img id="customModalImage" src="" alt=""/>
                <div id="customModalDescription" class="custom-description"></div>
            </div>
            <button class="custom-next" aria-label="Следующее изображение">&#10095;</button>
        </div>
    </div>
{% endblock %}
